/*共通パーツ*/
*{
  margin: 0;
  padding: 0;
}
h1{
  margin-bottom: 60px;
  font-size: 40px;
  text-align: center;
}
p{
  font-size: 18px;
}

/*ヘッダー*/
header{
  width: 100%;
  height: 100vh;
}
header div{
  height: 70px;
  line-height: 70px;
  padding: 0 100px;
  background-color: #415A77;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div img{
  max-height: 50px;
}
header div nav ul{
  display: flex;
}
header div nav ul li{
  margin-left: 40px;
  list-style: none;
}
header div nav ul li a{
  font-size: 18px;
  color: #00FFFF;
  text-decoration: none;
}
header div nav ul li a:hover{
  color: #ffffff;
}
header nav.nav_sp{
  display: none;
}
/*メインビュー*/
header img.PCmainvew{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
header img.SPmainvew{
  display: none;
}
/*メイン*/
main{
  padding: 200px 0 100px;
  background-color: #0D1B2A;
}
main div.main_section{
  margin: 0 auto;
  margin-bottom: 160px;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1100px;
  border-radius: 50px;
  background-color: #415A77;
}
main div.main_section h1.main_title{
  color: #00FFFF;
}
/*プロフィールセクション*/
main div.main_section div.Purofiru_content{
  padding: 0 200px;
  display: flex;
  justify-content: center;
}
main div.main_section div.Purofiru_content > img{
  width: 200px;
  height: 200px;
}
main div.main_section div dt,main div.main_section div dd{
  font-size: 18px;
  color: #ffffff;
}
main div.main_section div dl{
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
}
main div.main_section div dt{
  margin-bottom: 10px;
  font-weight: bold;
  width: 30%;
}
main div.main_section div dd{
  margin-bottom: 10px;
  width: 70%;
}
main div.main_section div dd a{
  text-decoration: none;
  color: #ffffff;
}
/*スキルセクション*/
main div.skill_content{
  padding: 0 100px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 200px;
  gap: 30px;

}
main div.main_section div.Skill_block{
  text-align: center;
}
main div.main_section img.Skill_icon{
  width: 80px;
  height: auto;
  margin-bottom: 50px;
}
main div.main_section h2{
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
/*ポートフォリオセクション*/
main div.Portfolio_content{
  text-align: center;
}
main div.portfolio_img{
  margin-bottom: 60px;
  padding:0 40px;
}
main div.portfolio_img img{
  width: 200px;
  padding:0 40px;
}
/*お問い合わせセクション*/
main div.Contact_section{
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1100px;
  border-radius: 50px;
  background-color: rgb(0, 255, 255, 0.8);
}
main div.Contakut_section > h1{
  color: #415A77;
}
main div.contact_text{
  padding: 0 200px;
  text-align: center;
}
main div.contact_block{
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
main div.contact_block label{
  display: block;
  width: 30%;
  font-size: 18px;
  font-weight: bold;
}
main div.contact_block input, main div.contact_block textarea{
  width: 70%;
  height: 40px;
  border: none;
  outline: none;
  border-bottom:3px solid #415A77;
}
main div.contact_block textarea{
  height: 120px;
}
/*フッター*/
footer{
  width: 100%;
  height: 200px;
  background-color: #415A77;
  border-top: 10px solid #00FFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div.footer_section{
  display: flex;
  justify-content: center;
}
footer div.footer_section ul{
  display: flex;
}
footer div.footer_section ul li{
  margin-left: 10px;
  list-style: none;
}
footer div.footer_section ul li a{
  text-decoration: none;
  color: #ffffff;
}
footer div.footer_section > img{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

/*レスポンシブデザイン(スマホ)*/
@media screen and (max-width:376px) {
  /*共通パーツ*/
  h1{
    font-size: 32px;
  }
  /*ヘッダー*/
  header{
  width: 100%;
  height: 40px;
}
  header div{
  height: 40px;
  padding: 0 30px;
  align-items: center;
  line-height: 40px;
}
  header div img{
  max-height: 30px;
}
  /*ハンバーガーメニュー*/
  header div nav.nav_sp{
    display: block;
    height: 30px;
    line-height: 40px;
  }
  header div nav.nav_sp img.menu_btn_open{
    opacity: 1;
  }
    header div nav.nav_sp img.menu_btn_close{
    opacity: 0;
    }
  header div nav.nav_pc{
    display: none;
  }
  /*メインビュー*/
  header img.PCmainvew {
    display: none;
  }
  header img.SPmainvew{
    width: 100%;
    display: block;
  } 
}